<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <title>title</title>
    </head>
    <body>
        <p>Welcome to Chelsea's Sense HAT Project.</p>
        <form action="http://0.0.0.0:5000/send" id="form" method="post">
            <label for="name"><p>What's your name?</p></label>
            <input type="text" id="name" name="msgboard">
            <label for="msg"><p>What would you like to say?</p></label>
            <input type="text" id="msg" name="msgboard"><br><br>
            <input type = "submit" value = "Send">
        </form>
    </body>
</html>